.bigBox {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
}

.box {
    height: 30%;
    width: 30%;
    border-radius: 30px;
    background: #ffff00;
}

input[type = "submit"] {
    display: block;
    width: 500px;
    height: 50px;
    margin: 30px auto;
    border: 3px solid #ffff00;
    background: transparent;
    outline: none;
}