/*所有内容设置开始*/

html {
    width: 100%;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow:scroll;
    overflow-x:hidden;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/*所有内容设置结束*/

/*联系方式开始*/

.contact-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    color: #29b078;
    background-color: #fff;
}

.contact-information p {
    margin-left: 16.7%;
}

.wechat-qq-weibo-icon {
    display: flex;
    justify-content: space-between;
    width: 107px;
    margin-right: 16.7%;
}

.wechat-qq-weibo-icon img {
    height: 25px;
}

/*隐藏的登录和注册设置开始*/

.sign-in-and-sign-up {
    position: absolute;
    right: 0;
    width: 80px;
    line-height: 10px;
    visibility: hidden; /*使头部的登录和注册隐藏*/
}

.sign-in-and-sign-up a {
    float: left;
    width: 46%;
    text-align: center;
    color: #000;
}

.sign-in-and-sign-up a:nth-child(1) {
    padding-right: 2%;
    border-right: 1px solid #000;
}
/*隐藏的登录和注册设置结束*/

/*联系方式结束*/

/*头部选项开始*/

.header {
    width: 100%;
    height: 100px;
    background-color: #29b078;
}

.header ul {
    list-style: none;
}

.header-list-icon img {
    display: none;
}

.header-option-small {
    margin-right: 16.7%;
}

.header-option-small li {
    float: right;
    height: 96px;
    width: 96px;
    font-size: 1.6rem;
    text-align: center;
    list-style: none;
    line-height: 100px;
    border-bottom: 4px solid transparent;
}

.header-option-small li a {
    color: white;
}

.header-option-small:after {
    content:"";
    display: block;
    clear: both;
}

.header-option-small li:hover {
    border-bottom: 4px solid #fff;
}

.header-option-small li:nth-child(4) {
    border-bottom: 4px solid #fff;
}


/*头部联系方式结束*/

/*轮播图片开始*/

.title-picture {
    position: relative;
    height: 600px;
}

.rotation-picture-line {
    width: 100vw;
    overflow: hidden;
}

.rotation-picture {
    display: inline-block;
    width: 400vw;
    animation: rotation 20s infinite;
}

.rotation-picture img {
    float: left;
    height: 600px;
    width: 100vw;
}

.title-picture button img {
    height: 23px;
    opacity: .28;
}

.title-picture button img:hover {
    opacity: 1;
}

.title-picture .left {
    position: absolute;
    top: 50%;
    left: 15.3%;
    transform: translate(0, -50%);
}

.title-picture .right {
    position: absolute;
    top: 50%;
    right: 15.3%;
    transform: translate(0, -50%);
}

.swith {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

/*轮播图片结束*/

/*内容开始*/

.content {
    background: #fafafa;
}

/*宣传标语开始*/
.advantage {
    width: 1200px;
    margin: auto;
    padding-top: 161px;
    text-align: center;
    overflow: hidden;
}

.advantage:after {
    content: "";
    display: block;
    clear: both;
}

.home-tag-icon {
    float: left;
    width: 25%;
}

/*宣传标语中的图片设置*/

.highly-active-img {
    height: 63px;
}

.specification-img {
    height: 48px;
    padding-top: 15px;
}

.connection-img {
    height: 55px;
    padding-top: 8px;
}

.home-tag-icon p {
    width: 74.1%;
    margin: 30px auto;
    font-size: 1.6rem;
    color: #a4a4a4;
}

.home-tag-icon h1 {
    margin-top: 33px;
    font-size: 1.8rem;
}

.person-number {
    float: left;  /*使用人数的设置*/
    width: 25%;
    padding-top: 70px;
    text-align: left;
}

.person-number div {
    height: 64px;
    width: 300px;
    margin-left: 54px;
    line-height: 34px;
}

.person-number img {
    height: 13px;
    width: 13px;
}

.person-number span {
    font-size: 1.8rem;
    color: #26a26f;
}

.person-number p {
    font-size: 1.8rem;
    color: #afafaf;
}

/*宣传标语结束*/

/* 如何学习开始*/
.content-title-text {
    width: 100vw;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 115px;
}

.how-to-learn {
    width: 100%;
}

.how-to-learn .line {
    width: 1200px;
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.line:after {
    content: "";
    display: block;
    clear: both;
}

.how-to-learn .line .step {
    position: relative;
    float: left;
}

.line .step .number {
    width: 71px;
    height: 71px;
    padding: 0;
    background-image: url(http://wjl222.github.io/html/task8/homepage/images/技能树首页_42\ .png);
}

.step p {
    display: inline-block;
    vertical-align: middle;
    width: 153px;
    margin: auto 15px auto 15px;
    font-size: 1.4rem;
    color: #a8a8a8;
}

.step button {
    display: inline-block;
}

.step .enter-image {
    vertical-align: middle;
    line-height: 0;
}

/*如何学习结束*/


/*优秀学员展示开始*/
.outstanding-student {
    margin: 0 auto 133px auto;
}


.outstanding-student .students-line {
    position: relative;
    width: 1200px;
    margin: auto;
    padding-bottom: 20px;
    overflow: hidden;
}

.outstanding-student .students-line::after {
    content: "";
    clear: both;
    display: block;
}

.outstanding-student .content-title-text h1 {
    flex-wrap: wrap;
}

.students-box {
    float: left;
    padding-bottom: 20px;
}

.students {
    width: 269px;
    height: 369px;
    margin-left: 15.5px;
    margin-right: 15.5px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 1px #e2e2e2;
}

.students img {
    margin-top: 16px;
}

.students p span {
    display: inline-block;
    margin: 42px auto 31px auto;
    font-size: 1.8rem;
    color: black;
    text-align: center;
}

.students .students-detail {
    width: 208px;
    font-size: 1.6rem;
    color: #999;
    margin: auto;
    text-align: left;
}

.students-dot {
    margin: auto;
    width: 66px;
}
/*优秀学员展示结束*/

/*战略合作企业开始*/
.enterprise {
    text-align: center;
}

.enterprise-icon-line {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.enterprise-icon-line:after {
    content: "";
    display: block;
    clear: both;
}

.enterprise-icon-line div:hover {
    box-shadow: 0 0 5px #d6d6d6;
}

.enterprise-icon-line div {
    position: relative;
    float: left;
    width: 240px;
    height: 177px;
    background: #fff;
    box-shadow: 0 0 2px #e2e2e2;
}

.enterprise-icon-line div img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*战略合作企业结束*/

/*网址部分开始*/

.link {
    width: 100%;
    margin-top: 92px;
    padding-bottom: 20px;
    background-color: #fff;
}

.link-line {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.link-line:after {
    content: "";
    display: block;
    clear: both;
}

.link-line div {
    float: left;
    width: 120px;
}

.link-line div:after {
    content: "";
    display: block;
    clear: both;
}

.content-title-text-link {
    text-align: center;
    padding-top: 19px;
    margin-bottom: 26px;
}

.link-line li {
    width: 76px;
    border-bottom: 1px solid transparent;
}

.link-line li a {
    font-size: 1.4rem;
    color: #999;

}

.link-line li:hover {
    border-bottom: 1px solid #26a26f;
}

/*网址部分结束*/

/*底部内容开始*/

.footer {
    background-color: #26a26f;
}

.footer-content {
    width: 1200px;
    margin: auto;
    color: #fff;
    font-size: 1.4rem;
    overflow: hidden;
}

.footer-content:after {
    content: "";
    display: block;
    clear: both;
}

.cooperate-and-contact,
.its-website,
.wechat-public-number {
    float: left;
    width: 33%;
}

.cooperate-and-contact div::after {
    content:"";
    display: block;
    clear: both;
    
}

.cooperate-and-contact div a {
    float: left;
    width: 75px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
}

.cooperate-and-contact div .line {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

.web-slogans {
    margin: 37px auto 65px auto;
    font-size: 1.6rem;
}

.its-website {
    vertical-align: top;
    font-size: 1.6rem;
    color: #fff;
}

.its-website-text {
    display: inline-block;
    margin: 36px 0 7px 0;
}

.its-website-url a {
    display: inline-block;
    height: 22px;
    margin: 20px 30px 0 auto;
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid transparent;
}

.its-website-url a:hover {
    border-bottom: 1px solid #fff;
}

.footer-content img {
    display: inline-block;
    width: 92px;
}

/*下面是公众号*/

.wechat-public-number {
    margin-top: 38px;
    font-size: 1.6rem;
    color: #fff;
}

.wechat-public-number p::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}

.wechat-public-number p {
    width: 92px;
    height: 24px;
    text-align: justify;
    overflow: hidden;
    clear: both;
}

.wechat-public-number p,
.wechat-public-number img {
    float: right;
}

/*下面是版本号*/

.version-number {
    color: #fff;
    text-align: center;
}

.version-number:after {
    content: "";
    display: block;
    clear: both;
}

.version-number .version-number-text {
    float: right;
    margin: auto;
    line-height: 30px;
    width: 100vw;
    text-align: center;
}

/*底部结束*/

/*轮播动画代码*/

@keyframes rotation {

    0%,
    15% {
        margin-left: 0;
    }

    25%,
    40% {
        margin-left: -100vw;
    }

    50%,
    65% {
        margin-left: -200vw;
    }

    75%,
    90% {
        margin-left: -300vw;
    }
}

@media screen and (max-width:1520px) /*小于1520像素*/ {
    .rotation-picture-line,
    .title-picture,
    .rotation-picture,
    .rotation-picture img {
        height: 39.47vw;
    }
}

@media screen and (max-width:1199px) /*小于1199px*/ {
    .home-tag-icon,
    .person-number,
    .how-to-learn .line .step,
    .students-box {
        width: 50vw;
    }

    .person-number div {
        margin: auto;
        text-align: center;
    }

    .outstanding-student .students-line，
    .enterprise-icon-line {
        width: 100vw;
    }
    
    .students，
    .link-line div li {
        margin: auto;
    }

    .enterprise-icon-line div {
        width: 33.3vw;
    }

    .link-line div {
        width: 20vw;
    }

    .footer-content {
        width: 100vw;
        padding-right: 30px;
        padding-left: 30px;
    }

    .wechat-public-number {
        width: 27%;
        padding-right: 6%;
    }
}

@media screen and (max-width:799px) /*小于799px*/ {
    .home-tag-icon,   /*宣传标语介绍的图片*/
    .advantage,   /*宣传标语*/
    .person-number,   /*宣传标语中的学习人数*/
    .step,   /*如何学习中的*/
    .how-to-learn .line,
    .how-to-learn .line .step,    /*如何学习中的行*/
    .students-box,   /*优秀学员*/
    .enterprise-icon-line div,   /*合作企业*/
    .link-line,   /*链接*/
    .footer-content   /*底部内容*/ {
        width: 100vw;
    }

    .advantage {
        padding-top: 50px;
    }

    .person-number {
        text-align: center;
    }

    .person-number div,
    .students,
    .link-line li
     {
        margin: auto;
    }

    .enterprise-icon-line div {
        float: none;
    }

    .link-line div {
        width: 33vw;
        text-align: center;
    }
    .link-line li {
        text-align: left;
    }

}

@media screen and (max-width:600px) /*小于600px*/ {
    /*头部*/
    .sign-in-and-sign-up {
        visibility: visible
    }

    .contact-information p,
    .contact-information .wechat-qq-weibo-icon,
    .header-option-small li {
        display: none;
    }

    .its-website,
    .wechat-public-number {
        clear: both;
    }
    .cooperate-and-contact,
    .its-website,
    .wechat-public-number {
        width: 100vw;
    }

    /*头部的下拉菜单的制作*/

    .header {
        position: relative;
        height: auto;
    }

    .header-option-big-line {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .header:hover .header-option-small>li  {
        display: block;
        width: 100vw;
        height: 30px;
        line-height: 30px;
        border-bottom: 0;
    }

    .header-option-small {
        margin-right: 0;
    }

    .header-option-big-line:hover .header-option {
        overflow: visible;
        width: 100vw;
    }

    .header-list-icon {
        height: 100px;
        width: 100%;
    }

    .header-list-icon img {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 35px;
        margin-top: 32.5px;
        margin-right: 20px;
        overflow: hidden;
    }

    .hearder .header-option a{
        width: 100vw;
    }

    .header-option-small li:nth-child(4) {
        background: #5ebb94;
        border: 0;
    }

    .header-option-small li:hover {
        background: #5ebb94;
        border: 0;
    }/*选项点击变颜色*/


    /*使底部文字变的靠边*/

    .footer-content {
        padding-left: 2%;
    }

    /*底部的微信图片靠右*/

    .wechat-public-number img,
    .wechat-public-number p {
        float: left;
    }

}