html {
    height: 100%;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/*联系方式*/

.contact-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 10px;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    color: #29b078;
    background-color: #fff;
}

.contact-information img {
    height: 25px;
}

.contact-information p {
    margin-left: 16.7%;
}

.contact-information div {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-right: 16.7%;
}

/*头部选项*/

.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #29b078;
}

.header button:nth-child(4) {
    border-bottom: 4px solid #fff;
}

.header button:hover {
    border-bottom: 4px solid #fff;
}


.header button {
    float: right;
    height: 100%;
    width: 101px;
    padding: 0;
    font-size: 1.6rem;
    color: white;
    border-bottom: 4px solid transparent;
}

.other-option {
    height: 100%;
    margin-right: 16%;
}

.website-name-and-link {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 16.7%;
}

.website-name-and-link span {
    color: #fff;
}

.website-name {
    font-size: 3.558rem;
    height: 50px;
}

.website-link {
    display: inline-block;
    font-size: .857rem;
    width: 108px;
    letter-spacing: 1.2px;
}

.title-picture{
    content: "";
    width: 100%;
    height: 13.02vw;
    background-image: url(http://wjl222.github.io/html/task8/homepage/images/战略合作企业_02.png);
    background-size: 100% 13.02vw;
}
/*内容*/
.content {
    background-color: #fafafa;
}

.content .homepage-and-enteprise {
    height: 80px;
    width: 1200px;
    margin: auto;
    line-height: 80px;
}

.content .homepage-and-enteprise a {
    font-size: 1.6rem;
    color: #000;
}

.content .homepage-and-enteprise a:nth-child(2) {
    color: #29b078;
}


/*公司名称和介绍*/
.Company-and-Brief-Introduction {
    display: flex;
    justify-content: space-between;
    height: 1100px;
    width: 1200px;
    margin: auto;
}

.enteprise {
    display: inline-block;
    height: 708px;
    width: 300px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 5px #f1f1f1;
}

.enteprise p {
    height: 63px;
    line-height: 63px;
    font-weight: 700;
    font-size: 1.6rem;
}

.enteprise p:nth-child(1) {
    border-bottom: 1px solid #e6e6e6;
}

.enteprise-link {
    display: inline-block;
    height: 645px;
}

.enteprise-link ul {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    width: 68px;
    height: 100%;
    margin: auto;
    list-style-image: url(./images/战略合作企业_02s_05.png)
}

.enteprise-link ul li:nth-child(3) {
    list-style-image: url(./images/战略合作企业_02s_08.png);
}

.enteprise-link ul li:nth-child(3) a {
    color: #ff650e;
}

.company-introduction {
    display: inline-block;
    width: 870px;
    font-size: 1.4rem;
    color: #999;
    text-indent: 2rem;
    line-height: 2.8rem;
    background-color: #fff;
    box-shadow: 0 0 5px #f1f1f1;
}

.enteprise a {
    font-size: 1.4rem;
    color: #29b078;
}

.company-proflie {
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    height: 155px;
}

.company-proflie img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 121px;
    transform: translate(-50%,-50%);
}

.company-proflie p {
    position: absolute;
    top: 50%;
    left: 246px;
    transform: translate(0,-50%);
    width: 570px;
}

.detailed-introduction-of-enterprises p {
    width: 740px;
    margin: 30px auto;
}

.footer {
    margin-top: 230px;
    height: 202px;
    background-color: #26a26f;
}

.footer-content {
    width: 1200px;
    height: 170px;
    margin: auto;
    color: #fff;
    font-size: 1.4rem;
}

.footer div p {
    display: inline-block;
}

.cooperate-and-contact {
    display: inline-block;
    width: 230px;
    height: 100%;
}

.cooperate-and-contact div {
    display: flex;
    justify-content: space-between;
}

.cooperate-and-contact div a {
    width: 75px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
}

.cooperate-and-contact div .line {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

.web-slogans {
    margin: 37px auto 65px auto;
    font-size: 1.6rem;
}

.its-website {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-left: 142px;
    font-size: 1.6rem;
    color: #fff;
}

.its-website-text {
    display: inline-block;
    margin: 36px 0 7px 0;
}

.its-website-url a {
    display: inline-block;
    height: 22px;
    margin: 20px 30px 0 auto;
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid transparent;
}

.its-website-url a:hover {
    border-bottom: 1px solid #fff;
}

.footer-content img {
    display: inline-block;
    width: 92px;
}

.wechat-public-number {
    float: right;
    width: 92px;
    margin-top: 38px;
    font-size: 1.6rem;
    color: #fff;
}

.wechat-public-number p::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}

.wechat-public-number p {
    width: 92px;
    height: 24px;
    text-align: justify;
    overflow: hidden;
}

.version-number {
    height: 30px;
    color: #fff;
}

.version-number p {
    margin-left: 723px;
    line-height: 30px;
}

