html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

button{
    border: 0;
    outline: none;
    background: transparent;
}

p{
    margin:0;
}

nav,
.main,
.footer{
    min-width: 320px;
}

/*标题部分*/

nav {
    z-index: 2;
    position: fixed;
    top: 0;
    height: 7.55vh;
    width: 100%;
    font-size: 3.09vh;
    color: #fff;
    text-align: center;
    background-color: #29bde0;
}

nav button {
    float: left;
}

nav button .homepage {
    height: 3.82vh;
    padding-top: 2.55vh;
    padding-right: 1.56%;
}

nav .hint {
    float: right;
    padding-right: 1.56%;
    padding-top: 2.55vh;
    height: 3.82vh;
}

nav p {
    display: inline-block;
    padding-top: 2.55vh;
}

/*下面是内容部分*/

.main {
    width: 100%;
    padding: 7.55vh 0 11.82vh 0;
    background-color: #fff;
}

.icon-and-result-text {
    width: 100%;
    height: 65vh;
    background-color: #29bde0;
}

.icon {
    text-align: center;
    width: 100%;
}

.icon img {
    height: 18.64vh;
}

.result-text {
    display: flex;
    justify-content: center;
    height: 16.12vh;
    font-size: 3.02vh;
    color: #ffc865;
}

.result-text p {
    width: 74%;
    padding-top: 1.82vh;
}

.details {
    display: flex;
    width: 100%;
    margin-top: 5.27vh;

}

.details-text {
    width: 78%;
    height: 18.2vh;
    font-size: 2.4vh;
    color: #fff;
    text-align: left;

}

.details p {
    display: inline;
    padding-right: 2vw;
}

.details div {
    margin: 0.3vh auto;
}

/*下面是回合详情*/

.day {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.rounds-details {
    width: 100%;
    height: 15.36vh;
    font-size: 2.4vh;
    border-top: .5px solid #ddd;
    border-bottom: .5px solid #ddd;
}

.rounds-details .rounds {
    display: inline-block;
    margin: 0.3vh 0;
    padding-left: 10.94%;
}

.rounds-details .event {
    height: 8.2vh;
    padding-left: 10.94%;
    margin: 2% 0;
    color: #a6a6a6;

}

/*底部*/

.footer {
    position: fixed;
    bottom: 0;
    height: 11.82vh;
    width: 100%;
    background-color: rgba(41, 189, 224, .7);
}

.play-again {
    position: absolute;
    left: 1.875%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #f66f6f;
}

.uploading-and-sharing {
    position: absolute;
    right: 1.875vw;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fbb435;
}

.uploading-and-sharing,
.play-again {
    width: 42.5%;
    height: 7.73vh;
    line-height: 7.73vh;
    border-radius: 1vh;
    color: #fff;
}

.play-again p,
.uploading-and-sharing p {
    font-size: 3.64vh;
}

@media screen and (max-device-width:400px) {
    .rounds-details {
        font-size: 4.0625vw;
    }

    .play-again p,
    .uploading-and-sharing p {
        font-size: 6.25vw;
    }
}