.container {
    width: 1200px;
    margin: auto;
}

html {
    min-width: 640px;
}

hr {
    height: 2px;
    border: none;
    background: #e6e6e6;
}

/*头部选项开始*/
/*背景图开始*/

.banner-picture {
    height: 248px;
    background-image: url(./images/title_img.png);
    background-size: 100% 100%;
}

/*背景图结束*/

/*企业介绍开始*/


.selected-option {
    height: 79px;
    font-size: 16px;
    line-height: 79px;
}

.selected-option a:nth-child(1) {
    color: #000;
}

.selected-option a:nth-child(2) {
    color: #29b078;
}

.enterprise-introduce {
    display: flex;
    justify-content: space-between;
    padding-bottom: 192px;
}

.enterprise-name {
    width: 25.42%;
    height: 710px;
    text-align: center;
    box-shadow: 0 0 2px #ededed;
}

.enterprise-name p {
    height: 61px;
    line-height: 61px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.enterprise-name ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 649px;
    width: 70px;
    margin: auto;
}

.enterprise-name ul li {
    width: 100%;
    text-align: left;
    font-size: 14px;
    list-style-image: url(./images/pot_hollow.png);
}

.enterprise-name ul li:nth-child(3) {
    list-style-image: url(./images/pot_solid.png);
}

.enterprise-name ul li a {
    font-size: 14px;
    color: #29b078;
}

.enterprise-name ul li:nth-child(3) a {
    color: #ff650e;
}

/*文字排版开始*/

.enterprise-introduce-text {
    width: 72.5%;
    color: #999;
    line-height: 28.22px;
    font-size: 14px;
    box-shadow: 0 0 2px #e6e6e6;
}

.enterprise-introduce-text>div {
    width: 86%;
    margin: auto;
}

.brief-introduction {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
}

.brief-introduction img {
    margin-left: 22px;
}

.brief-introduction p {
    display: inline-block;
    width: 65.5%;
    padding-left: 34px;
    text-indent: 28px;
}

.detailed-introduction p {
    margin: 38px auto;
    text-indent: 28px;
}

/*文字处理结束*/

/*底部开始*/

@media screen and (max-width:1250px) {
    .container {
        width: 900px;
    }

    .banner-picture {
        height: 13.02vw;
    }
}

@media screen and (max-width:930px) {
    .container {
        width: 600px;
    }
}

@media screen and (max-width:640px) {
    .container,
    .enterprise-name,
    .enterprise-introduce-text,
    .brief-introduction p {
        width: 100vw;
    }
    
    .selected-option {
        padding-left: 10px;
    }

    .enterprise-introduce,
    .brief-introduction {
        flex-wrap: wrap;
    }

    .brief-introduction img {
        margin: 30px auto;
    }
}