html {
    height: 100%;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}
/*头部菜单栏*/
nav {
    z-index: 2;
    position: fixed;
    height: 44px;
    width: 100%;
    line-height: 44px;
    text-align: center;
    background: #5fc0cd;
}

.looking-for-employer {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -17.5px;
    margin-left: -71.25px;
    height: 35px;
    width: 142.5px;
    font-size: 1.7rem;
    color: #fff;
    line-height: 35px;
    border-radius: 3.5px;
    background-color: #55a8b3;
}

.looking-for-a-care-text {
    height: 35px;
    display: inline-block;
    color: #55a8b3;
}

.looking-for-a-care-text {
    float: right;
    width: 72px;
    border-radius: 3.5px;
    background: #fff;
}

.location {
    float: right;
    font-size: 0;
    line-height: 44px;

}

.location button{
    margin-right: 15px;
    background: #5fc0cd;
    border: 0;
}

.location img {
    width: 21px;
    vertical-align: middle;

}

/*表格标题*/
.main {
    padding-top: 44px;
    overflow: auto;
}

.main select {
    width: 33.3%;
    height: 40px;
    text-align-last: center;
    font-size: 1.4rem;
    color: #999;
    border: 0;
    outline: 0;
}
/*表格内容*/
.table-content {
    position: relative;
    height: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4rem;
}

.service-date {
    width: 75px;
    color: #999;
}

.service-date img {
    height: 12px;
    margin-right: 7px;
}

.date {
    width: auto;
    margin: 16.5px 84px 16.5px 34px;
    font-size: 1.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.price {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 120px;
    line-height: 120px;
    white-space: nowrap;
    color: #e63b0e;
}

.price img {
    float: right;
    height: 16.5px;
    padding-left: 10px;

}

.address {
    width: 110px;
    color: #999;

}

.address img {
    height: 12px;
    margin-right: 7px;
}

.service-date,
.price,
.address {
    display: flex;
    align-items: center;
}

.service-date,
.address {
    margin-left: 15px;
}

hr {
    height: 1px;
    background-color: #e1e5e7;
    border: 0px transparent;
}
/*底部*/
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: #f8fafb;

}

.home-page img {
    width: 23px;
    padding-top: 6px;
}

.write img {
    width: 47px;
    height: 47px;
}

.my img {
    height: 22.5px;
    vertical-align: middle;
}

.my {
    margin-right: 83px;
    color: #999;
}

.home-page {
    margin-left: 83px;
    color: #55a8b3;
}

.footer button{
    height: 50px;
    border: 0;
    font-size: 1rem;
    background-color: #f8fafb;
}