html{
    font-size: 62.5%; 
    height: 1030px;
}
body{
    width: auto;
    height: 1030px;
}
.navigation{
    width: auto;
    height: 80px;
    background:  #234249;
    margin-top: 0;
}
.page {
    width: auto;
    height: 950px;
    background:  #68cdd5;
    padding:90px;
}
.return-key {
    display:inline-block;
    vertical-align:middle;
}
.setting-key{
    float: right;
    display: inline-block;
    vertical-align: middle;
}
.logo{
    text-align: center;
    margin-top: 200px;
}
.icon-left{
    float: lift; width:80%;
    margin-top: 70%;
    display: inline-block;
}
.icon-right{
    float: right; width:20%;
    margin-top: 70%;
    display: inline-block;
}
.icon-man{
    float: right; width: 45px;
    margin-top:15%;
    display:inline;
}
.text{
    text-align: center;
    word-break: break-all;
    color: white;
    font-size: 1rem;
    margin: 50px;
}