* {
    margin: 0;
    padding: 0;
}

/*整体的背景设置*/

.page {
    width: 100vw;
    background: #68cdd5;
}

/*下面是按键的样式*/

#return-key {
    position: fixed;/*将返回键固定在最上面*/
    top: 0;
    height: 30px;
    padding: 10px 0 0 15.5px;
}

.logo {
    height: 150px;
    text-align: center;
}

.logo img{
    width: 92px;
    margin-top: 90px;
}

/*文本*/
.text {
    height: 250px;
    word-break: break-all;
    font-size: 15px;
    color: white;
    text-align: center;
}

.text p{
    display: inline-block;
    width: 70.3%;
    margin-top: 60px;
    font-size: 15px;
    text-align: left;
}

/*两个图标和文字*/

.footer {
    height: 333px;
}

.footer img {
    width:42px;
}

.two-icon {
    display: flex;
    justify-content: space-between;
    width: 70.3%;
    margin: auto;
    font-size: 12px;
    color: #fff;
}

.icon-grape-and-text，
.icon-linkman-and-text {
    display: inline-block;
    text-align: center;
}

