/*整体*/

html,
body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

img {
    height: 20px;
    padding: 3px 22px;
    border-right: 1px solid #eaedee;
}

button {
    background: transparent;
    border: 0;
}

body {
    background: #eaedee;
}

/*头部位置代码书写*/

nav {
    position: fixed;/*将头部固定在最上方*/
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    text-align: center;
    background: #5fc0cd;
}

.login-text {
    margin-left: 15px;
}

.close-text {
    margin-right: 15px;
}

nav p {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    color: white;
}

/*表格部分*/

form {
    height: 142px;
    width: 100%;
    margin-top: 45px;
    padding-top: 8px;
}

input {
    width: 78%;
    border: none;
    margin-left: 23px;
    outline: medium;
}

input::-webkit-input-placeholder {
    color: rgb(172, 172, 172);
}

.login-box,
.pass-box {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: white;
}

.pass-box {
    margin-top: 7px;
}

.login {
    height: 50px;
    width: 100%;
    color: white;
    font-size: 18px;
    border: 0;
    background: #5fc0cd;
}

.forget-password-box {
    height: 377px;
}

.forget-password {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
    font-size: 16px;
    color: #5fc0cd;
}