html {
    height: 100%;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    height: 45px;
    width: auto;
    text-align: center;
    background: #5fc0cd;
}

.close-text {
    float: right;
    margin-right: 15px;
    font-size: 1.6rem;
    line-height: 45px;
    color: white;
}

.login-text {
    float: left;
    margin-left: 15px;
    font-size: 1.6rem;
    line-height: 45px;
    color: white;
}

.register-text {
    position: absolute;
    width: 100%;
    line-height: 45px;
    font-size: 1.8rem;
    text-align: center;
    color: white;

}

form {
    height: 133.4px;
    width: 100%;
    padding-top: 16.6px;
    background: #eff0f4;
}

input {
    width: 78%;
    border: none;
    margin-left: 23px;
    outline: medium;
}

input::-webkit-input-placeholder {
    color: rgb(172, 172, 172);
}

img {
    padding: 3px 22px;
    border-right: 1px solid #eaedee;
}

.login-box,
.pass-box {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: white;
}

img {
    height: 20px;
}

.pass-box {
    margin-top: 16.6px;
}

.footer {
    height: 425px;
    background: #eff0f4;
}

.login {
    display: flex;
    height: 100px;
    align-items: center;
    font-size: 1.8rem;
    justify-content: center;
    color: white;
    background: #5fc0cd;
}

.forget-password {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
    font-size: 1.6rem;
    color: #5fc0cd;
}