html,body {
    margin: 0;
    padding: 0;
}

.big-box{
    width: 500px;
    height: 500px;
}
.box
 {
     width: 30%;
     height: 30%;
     box-sizing: border-box;
     background:yellow;
     float: left;
     margin: 1.5%;
     border-radius: 20px;
 }

 input {
     display: block;
     width: 500px;
     height: 100px;
     margin-top: 30px;
     font-size: 32px;
     outline: none;
     background: transparent;
     border: 7px solid yellow;
     border-radius: 20px;
 }

 input:hover {
     background-color: yellow;

 }