html {
    height: 100vh;
    width: 100vh;
    background: url(../login-page-img/background.jpg) no-repeat  top left;
}

body {
    width: fit-content;
    height: fit-content;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 350px;
    background: rgba(187, 187, 187, 0.5)
}

.sign_text {
    display: block;
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
}

.input {
    width: 400px;
    height: 60px;
    line-height: 60px;
    margin: 20px auto;
    background: #fff;
    img {
        height: 30px;
        margin-left: 10px;
        margin-top: 15px;
    }
    input {
        border: none;
        outline: none;
        background: none;
        width: 290px;
        height: 30px;
        margin-left: 5px;
        padding-left: 10px;
        border-left: 2px solid #ddd;
        font-size: 25px;
        vertical-align: middle;
    }
}

#result {
    display: block;
    height: 20px;
    width: fit-content;
    font-size: 10px;
    color: #ff0000;
}

#btn {
    display: block;
    width: 400px;
    height: 50px;
    margin: auto;
    font-size: 20px;
    border: none;
    outline: none;
    background: #fff;
}