.container {
    width: 1200px;
    margin: auto;
}

hr {
    height: 2px;
    border: none;
    background: #e6e6e6;
}

/*通用格式结束*/

/*轮播图开始*/

.banner-picture {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
} 

.picture-container {
    position: absolute;
    top: 0;
    left: -100%;
    width: 600%;
    z-index: 1;
}

.banner-picture:hover #rotation_chart_l_r img {
    opacity: 1;
}

.picture-container img {
    float: left;
    width: 16.666666666667%;
    height: fit-content;
}

#rotation_chart_l_r {
    position: relative;
    width: 100%;
    height: 100%;
} 

#rotation_chart_left,
#rotation_chart_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.4;
    z-index: 2;
}

#rotation_chart_left {
    left: 10%;
}

#rotation_chart_right {
    right: 10%;
} 

#spot {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#spot li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    border: 1px solid #fff;
} 

#spot .active {
    background: #fff;
}

/*内容开始*/

.small-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 55px;
    font-size: 18px;
    color: #000;
    font-weight: 900;
    text-align: center;
}

.publicity-slogans-and-online-numbers {
    padding-top: 161px;
    padding-bottom: 130px;
    color: #999;
}

.publicity-slogans-and-online-numbers:after {
    content: "";
    display: block;
    clear: both;
}

.publicity-slogans,
.online-numbers {
    float: left;
    width: 25%;
    height: 230px;
    text-align: center;
}

.publicity-slogans img {
    height: 60px;
}

.publicity-slogans h4 {
    padding: 30px 0;
    font-size: 18px;
    color: #000;
}

.publicity-slogans p {
    width: 225px;
    text-align: left;
    margin: auto;
    font-size: 16px;
}

.online-numbers {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 245px;
    padding-left: 53px;
    border-left: 2px dashed #dedede;
}

.online-numbers div {
    width: 100%;
    height: 65px;
    text-align: left;
}

.online-numbers div p {
    margin-top: 10px;
    font-size: 18px;
}

.online-numbers div span {
    font-size: 18px;
    color: #26a26f;
}

.how-to-learn:after {
    content: "";
    clear: both;
    display: block;

}

.how-to-learn .container .learning-steps-line:nth-child(2) {
    margin-bottom: 96px;
}

.how-to-learn .container .learning-steps-line:nth-child(3) {
    margin-bottom: 120px;
}

.learning-steps-line::after {
    content: "";
    display: block;
    clear: both;
}

.learning-steps {
    position: relative;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 70px;
}

.learning-steps span {
    position: absolute;
    left: 0;
    margin-left: 30.72px;
    font-size: 18px;
    color: #29b078;
}

.learning-steps p {
    width: 155px;
    color: #999;
    font-size: 14px;
}

.learning-steps .arrow {
    margin-right: 20px;
}

.learning-steps-line .learning-steps:nth-child(4) img:nth-child(4) {
    visibility: hidden;
}

/*优秀学员展示*/

.excellent-student-show {
    padding-bottom: 130px;
}

.excellent-student-option-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.excellent-student-option-line:after {
    content: "";
    display: block;
    clear: both;
}

.excellent-student-option {
    width: 22.5%;
    height: 370px;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 0 0 3px #e2e2e2;
}

.excellent-student-option span {
    display: block;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 25px;
}

.excellent-student-option img {
    margin-top: 19px;
    margin-bottom: 35px;
}

.excellent-student-option p {
    display: block;
    width: 80%;
    margin: auto;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #999;
    text-align: left;
}

.dot {
    width: 67px;
    margin: auto;
}

/*战略合作企业*/

.cooperative-enterprises {
    padding-bottom: 115px;
}

.enterprises-icons {
    box-shadow: 0 0 3px #e2e2e2;
}

.enterprises-icons:after {
    content: "";
    display: block;
    clear: both;
}

.enterprises-icons button {
    float: left;
    width: 20%;
    height: 177px;
    vertical-align: top;

}

.enterprises-icons button:hover {
    box-shadow: 0 0 10px #e2e2e2;
}

/*友情链接开始*/

.friendship-links {
    padding-bottom: 20px;
}

.link {
    margin-top: 5px;
    float: left;
    width: 10%;
    text-align: center;
    color: #999;
}

.link a {
    display: inline-block;
    width: 50%;
    color: #999;
    background: url(./images/small_spot.jpg) 0 50% no-repeat;
}

.friendship-links .container ul:after {
    display: block;
    content: "";
    clear: both;
}

/*自适应书写*/

@media screen and (max-width:1250px) {
    .container {
        width: 900px;
    }

    .publicity-slogans,
    .online-numbers {
        width: 50%;
        padding: 0;
        box-sizing: border-box;
    }

    .online-numbers div {
        text-align: center;
    }

    .link a {
        width: 100%;
    }

    .excellent-student-option p {
        width: 90%;
    }

}

@media screen and (max-width:930px) {
    .container {
        width: 600px;
    }
    

    .how-to-learn .container .learning-steps-line:nth-child(2) {
        margin-bottom: 0;
    }

    .learning-steps {
        width: 50%;
        margin-bottom: 10px;
    }

    .learning-steps-line .learning-steps:nth-child(4) img:nth-child(4) {
        visibility: visible;
    }

    .excellent-student-option,
    .enterprises-icons button {
        width: 50%;
    }

    .link {
        width: 20%;
    }

}

@media screen and (max-width:640px) {

    .container,
    .learning-steps,
    .publicity-slogans,
    .online-numbers,
    .excellent-student-option,
    .enterprises-icons button {
        width: 100%;
    }

    .link {
        width: 50%;
        list-style: none;
        text-align: center;
    }

    .publicity-slogans-and-online-numbers {
        padding: 30px 0;
    }

    .link a {
        width: 50%;
    }

}