.bigbox {
  width: 700px;
  height: 700px;
  margin: auto;
}

.box {
  float: left;
  width: 30%;
  height: 30%;
  margin: 1.66%;
  border-radius: 15%;
  background: yellow;
}

#start,#end {
  display: block;
  width: 500px;
  height: 60px;
  margin: 2px auto;
  border-radius: 10px;
  outline: none;
  border: 2px solid #999999;
}
