* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vw;
}

p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

/*总的设置结束*/

nav {
    position: relative;
    height: 50px;
    background: #5fc0cd;
}

.switch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 143px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    text-align: center;
    border-radius: 6px;
    background: #55a8b3;
}

.switch button {
    float: left;
    width: 50%;
    height: 100%;
}

.looking-for-a-hired-hand {
    color: #fff;
    border-radius: 6px 0 0 6px;
}

.job-hunter {
    color: #55a8b3;
    background: #fff;
    border-radius: 6px;
}

/*上方按键结束*/

.map-icon {
    height: 100%;
    padding-right: 15px;
}

.map-icon img {
    float: right;
    height: 22px;
    margin-top: 14px;
}

/*头部按钮结束*/

/*内容开始*/

.general-options {
    border-bottom: 1px solid #e1e5e7;
}

.general-options:after {
    content: "";
    clear: both;
    display: block;
}


.general-options button {
    position: relative;
    float: left;
    width: 33.3%;
    height: 40px;
    color: #999;
}

.general-options button:nth-child(2) {
    border-right: 1px solid #e1e5e7;
    border-left: 1px solid #e1e5e7;
}

.general-options button p {
    display: inline-block;
}

.general-options button img {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    width: 6.5px;
    padding-right: 12px;
}

/*分选项*/

.small-option {
    position: relative;
    height: 90px;
    border-bottom: 1px solid #e1e5e7;
}

.small-option p {
    display: inline-block;
}

.service-date {
    padding-left: 15px;
    padding-top: 10px;
    color: #999;
}

.service-date img {
    width: 12px;
    padding-right: 7px;
    vertical-align: middle;
}

.service-date p {
    vertical-align: middle;
}

.service-date-detail {
    padding-left: 34px;
    padding-top: 8px;
    color: #333;
    font-size: 14px;
}

.price {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    margin-right: 15px;
    color: #e63b0e;
    font-size: 15px;
}

.price p {
    padding-right: 5px;
    vertical-align: middle;
}

.price img {
    width: 9.5px;
    vertical-align: middle;
}


.address {
    padding-left: 15px;
    padding-top: 8px;
    font-size: 13px;
    color: #999;
}

.address img {
    height: 11.5px;
    padding-right: 7px;
}

/*底部开始*/

.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    background: #f8fafb;
}

.homepage {
    margin-left: 85px;
    margin-top: 4.5px;
    color: #5fc0cd;
    font-size: 10px;
}

.mine {
    float: right;
    margin-right: 85px;
    margin-top: 4.5px;
    color: #999;
    font-size: 10px;
}

.homepage img,
.mine img {
    height: 20px;
}

.write img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 46.5px;
}